<table id="t01" class="table" cellspacing="0" cellpadding="0">
    <thead>
        {{#each NewClass}}
            <tr>
                <th class="font-weight-bold">{{name}}</th>
                <th class="font-weight-bold">{{date}}</th>
            </tr>
        {{/each}}
    </thead>
    <tbody>
        {{#each NewClass}}                
                {{#each student}}
                    {{#each name}}
                    <td class="font-weight-light">{{[]}}</td>
                    {{/each}}
                {{/each}} 
            </tr>
        {{/each}}
    </tbody>
</table>