

<table id="t01" class="table" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Classes</th>
      </tr>
    </thead>
    <tbody>
        {{#each NewClass}}
            <tr>
                <td class="font-weight-bold" onclick="">{{name}}, {{date}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{!-- <script>
    document.addEventListener("load", async (e) => {
        alert("The page has been loaded")
        e.preventDefault();
        try{
            const response = await fetch('/allClasses');
            if(response.ok)
            {
                const Classes = await response.json();
                loadTableWithClasses(Classes);
            }
            else{
                alert("hellooooo")
            }
        }
    })
    function loadTableWithClasses(classes) {
        const table = document.getElementById("t01");
        const tableBody = table.children[1];
        tableBody.innerHTML = "";

        classes.forEach(game => {
            const tr = document.createElement("tr");
            const ClassNameTd = document.createElement("td");
            ClassNameTd.innerHTML = `${game["name"]},  ${game["date"]}`;
            tr.appendChild(ClassNameTd);
            tableBody.appendChild(tr);
        });
    }
</script> --}}




