

<table id="t01" class="table" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Classes</th>
      </tr>
    </thead>
    <tbody>
            {{#each NewClass}}
                <div class="list-group">
                    <a href="/detailedClass/{{name}}" class="font-weight-bold">{{name}},  {{date}}</a>
                </div>
            {{/each}}
    </tbody>
</table>




