{{#each NewClass}}
<div class="card text-center text-white bg-dark mb-3">
  <div class="card-body">
    <h1 class="card-title">{{name}}</h1>
    <h5 class="card-text">{{date}}</h5>
    <a href="/detailedClass/{{name}}" class="btn btn-secondary btn-small">Details</a>
  </div>
</div>
{{/each}}




